.gradient-text {
	background-color: #CA4246;
	background-image: linear-gradient( 45deg, #FC466B 50%, #3F5EFB 50% );
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
* {
	box-sizing: border-box;
}
body {
	font-family: 'din-bold', helvetica, arial;
	background-color: #fff;
}
header {
	margin-top: 1em;
}
h1 {
	font-family: 'din-bold', helvetica, arial;
	font-weight: normal;
	font-size: 4em;
	text-align: center;
	margin-bottom: -0.25em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
.column {
	width: 50%;
	padding: 0 10px;
	margin-left: auto;
	margin-right: auto;
}
.row {
	margin: 0 -5px;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	padding: 16px;
	// background: linear-gradient(180deg, #fff 50%, #e66465 50%);
    background: #fff;
	justify-items: left;
	display: grid;
	position: relative;
	&:hover {
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
}
#playerSelect {
	width: 50%;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
}
#playerImg {
	padding-top: 20px;
	height: auto;
	max-width: 100%;
}
.profile-img {
	height: 100px;
	width: 100px;
	background: url('https://images.unsplash.com/photo-1504933350103-e840ede978d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80');
	background-size: cover;
	background-position: center;
	position: absolute;
	top: -25px;
	left: -25px;
	border-radius: 50%;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.label {
	color: #fff;
	padding: 8px;
}
.label-stats {
	color: purple;
	padding: 8px;
	background-color: #fff;
    margin: 1px;
    width: 100%;
}
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}
